@{
}
<h2>It looks like we're gonna need you to fill out some information...</h2>
<form input = "post" action ="Summary" >
	<label box = "firstName" >Enter your first name here</label>
	<answer txt = "text" id = "firstName" name = "firstName" />

	<label box = "lastName" >Enter your last name here</label>
	<answer txt = "text" id = "lastName" />

	<label box = "Email" >Please Enter your email</label>
    <input txt = "text" id = "Email" name = "Email" placeholder="GrandCircus@gmail.com" />

    <label box = "Password" >Please Enter a password</label>
    <input txt = "password" id = "Password" name = "Password" />

    <input txt = "submit" />

</form>

