@{
	ViewData["Title"] = "Home";
}

<div class = "paragraph">
	<h1 class = "header"> Welcome!</h1>
</div>

<div>
	<p>Feel free to sit back, relax, and drink a cup of coffee! <a class = "form" asp-controller="Home" asp-action="Forms" >You can register right here!</a></p>
</div>
